* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f7f7f7; /* Light gray background */
}

.container {
  display: flex;
}

.nav {
  width: 25vw;
  align-items: center;
  display: flex;
  height: 3000px;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #0f3057; /* Dark blue background */
  padding: 2rem;
  color: #000000; /* White text */
}

.content {
  width: 65vw;
  padding: 2rem;
}

.start {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 30px;
  color: #f2a154; /* Orange text */
}

.input-place p {
  color: #ffffff; /* White text */
  font-size: 1.2rem;
}

.form {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 3rem; /* Increased height */
}

#n_days{
  flex: 1;
  padding: 0.5rem;
  margin-left: 50px;
  border: none;
  width: 50px;
  border-radius: 5px; /* Rounded corners */
  background-color: #fff; /* White background */
  color: #333; /* Dark text */
  font-size: 1rem; /* Font size */
}

.form input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 5px; /* Rounded corners */
  background-color: #fff; /* White background */
  color: #333; /* Dark text */
  font-size: 1rem; /* Font size */
}

.form button {
  width: 7rem;
  margin-left: 1rem; /* Increased margin */
  background-color: #f2a154; /* Orange button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.form button:hover {
  background-color: #e88d4a; /* Darker orange on hover */
}

.buttons {
  margin: 2rem 0;
  display: flex;
  flex-direction: column; /* Display buttons in a column */
}

.buttons button {
  width: 10rem;
  height: 3rem;
  border: none;
  background-color: #f2a154; /* Orange button */
  color: #fff; /* White text */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-bottom: 1rem; /* Add margin between buttons */
}

.buttons button:hover {
  background-color: #e88d4a; /* Darker orange on hover */
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.header p {
  font-size: 2rem; /* Decreased font size */
  margin-left: 1rem; /* Decreased margin */
  color: #1F2122; /* Dark blue text */
}

#logo {
  max-width: 200px; /* Enlarged logo */
  height: auto;
}
